<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservaCreateDlg" widgetVar="ReservaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateReservaTitle}">
            <h:form id="ReservaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reservaController.selected != null}">                       
                        <p:outputLabel value="#{bundle.CreateReservaLabel_fechaEve}" for="fechaEve" />
                        <p:calendar id="fechaEve" pattern="MM/dd/yyyy" value="#{reservaController.selected.fechaEve}" title="#{bundle.EditReservaTitle_fechaEve}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_fechaEve}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateReservaLabel_fechaReg}" for="fechaReg" />
                        <p:calendar id="fechaReg" pattern="MM/dd/yyyy" value="#{reservaController.selected.fechaReg}" title="#{bundle.EditReservaTitle_fechaReg}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_fechaReg}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateReservaLabel_diasEspera}" for="diasEspera" />
                        <p:inputText id="diasEspera" value="#{reservaController.selected.diasEspera}" title="#{bundle.CreateReservaTitle_diasEspera}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_diasEspera}"/>
                        <p:outputLabel value="#{bundle.CreateReservaLabel_interesado}" for="interesado" />
                        <p:inputText id="interesado" value="#{reservaController.selected.interesado}" title="#{bundle.CreateReservaTitle_interesado}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_interesado}"/>
                        <p:outputLabel value="#{bundle.CreateReservaLabel_detalle}" for="detalle" />
                        <p:inputText id="detalle" value="#{reservaController.selected.detalle}" title="#{bundle.CreateReservaTitle_detalle}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reservaController.create}" value="#{bundle.Save}" update="display,:ReservaListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReservaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ReservaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
