<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CobrosCreateDlg" widgetVar="CobrosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCobrosTitle}">
            <h:form id="CobrosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cobrosController.selected != null}">                       
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_ciCliente}" for="ciCliente" />
                        <p:inputText id="ciCliente" value="#{cobrosController.selected.ciCliente}" title="#{bundle.CreateCobrosTitle_ciCliente}" />
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_nombreCliente}" for="nombreCliente" />
                        <p:inputText id="nombreCliente" value="#{cobrosController.selected.nombreCliente}" title="#{bundle.CreateCobrosTitle_nombreCliente}" required="true" requiredMessage="#{bundle.CreateCobrosRequiredMessage_nombreCliente}"/>
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_monto}" for="monto" />
                        <p:inputText id="monto" value="#{cobrosController.selected.monto}" title="#{bundle.CreateCobrosTitle_monto}" required="true" requiredMessage="#{bundle.CreateCobrosRequiredMessage_monto}"/>
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{cobrosController.selected.fecha}" title="#{bundle.EditCobrosTitle_fecha}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_cie}" for="cie" />
                        <p:inputText id="cie" value="#{cobrosController.selected.cie}" title="#{bundle.CreateCobrosTitle_cie}" required="true" requiredMessage="#{bundle.CreateCobrosRequiredMessage_cie}"/>
                        <p:outputLabel value="#{bundle.CreateCobrosLabel_idCont}" for="idCont" />
                        <p:selectOneMenu id="idCont" value="#{cobrosController.selected.idCont}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_idCont}">
                            <f:selectItems value="#{contratoController.itemsAvailableSelectOne}"
                                           var="idContItem"
                                           itemValue="#{idContItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cobrosController.create}" value="#{bundle.Save}" update="display,:CobrosListForm:datalist,:growl" oncomplete="handleSubmit(args,'CobrosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CobrosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
