<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCobrosTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="CobrosListForm">
                <p:panel header="#{bundle.ListCobrosTitle}">
                    <p:dataTable id="datalist" value="#{cobrosController.items}" var="item"
                                 selectionMode="single" selection="#{cobrosController.selected}"
                                 paginator="true"
                                 rowKey="#{item.nro}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_nro}"/>
                            </f:facet>
                            <h:outputText value="#{item.nro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_ciCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_nombreCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_monto}"/>
                            </f:facet>
                            <h:outputText value="#{item.monto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_cie}"/>
                            </f:facet>
                            <h:outputText value="#{item.cie}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCobrosTitle_idCont}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCont}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{cobrosController.prepareCreate}" update=":CobrosCreateForm" oncomplete="PF('CobrosCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CobrosViewForm" oncomplete="PF('CobrosViewDialog').show()" disabled="#{empty cobrosController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CobrosEditForm" oncomplete="PF('CobrosEditDialog').show()" disabled="#{empty cobrosController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{cobrosController.destroy}" update=":growl,datalist" disabled="#{empty cobrosController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
