<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CobrosViewDlg" widgetVar="CobrosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCobrosTitle}">
            <h:form id="CobrosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cobrosController.selected != null}">
                        <h:outputText value="#{bundle.ViewCobrosLabel_nro}"/>
                        <h:outputText value="#{cobrosController.selected.nro}" title="#{bundle.ViewCobrosTitle_nro}"/>
                        <h:outputText value="#{bundle.ViewCobrosLabel_ciCliente}"/>
                        <h:outputText value="#{cobrosController.selected.ciCliente}" title="#{bundle.ViewCobrosTitle_ciCliente}"/>
                        <h:outputText value="#{bundle.ViewCobrosLabel_nombreCliente}"/>
                        <h:outputText value="#{cobrosController.selected.nombreCliente}" title="#{bundle.ViewCobrosTitle_nombreCliente}"/>
                        <h:outputText value="#{bundle.ViewCobrosLabel_monto}"/>
                        <h:outputText value="#{cobrosController.selected.monto}" title="#{bundle.ViewCobrosTitle_monto}"/>
                        <h:outputText value="#{bundle.ViewCobrosLabel_fecha}"/>
                        <h:outputText value="#{cobrosController.selected.fecha}" title="#{bundle.ViewCobrosTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewCobrosLabel_cie}"/>
                        <h:outputText value="#{cobrosController.selected.cie}" title="#{bundle.ViewCobrosTitle_cie}"/>
                        <h:outputText value="#{bundle.ViewCobrosLabel_idCont}"/>
                        <h:outputText value="#{cobrosController.selected.idCont}" title="#{bundle.ViewCobrosTitle_idCont}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CobrosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
