<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoEventoViewDlg" widgetVar="TipoEventoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoEventoTitle}">
            <h:form id="TipoEventoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoEventoController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoEventoLabel_id}"/>
                        <h:outputText value="#{tipoEventoController.selected.id}" title="#{bundle.ViewTipoEventoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewTipoEventoLabel_nombre}"/>
                        <h:outputText value="#{tipoEventoController.selected.nombre}" title="#{bundle.ViewTipoEventoTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoEventoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
