<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpleadoCreateDlg" widgetVar="EmpleadoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEmpleadoTitle}">
            <h:form id="EmpleadoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empleadoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_ci}" for="ci" />
                        <p:inputText id="ci" value="#{empleadoController.selected.ci}" title="#{bundle.CreateEmpleadoTitle_ci}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_ci}"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empleadoController.selected.nombre}" title="#{bundle.CreateEmpleadoTitle_nombre}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_APellidoP}" for="APellidoP" />
                        <p:inputText id="APellidoP" value="#{empleadoController.selected.APellidoP}" title="#{bundle.CreateEmpleadoTitle_APellidoP}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_APellidoP}"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_APellidoM}" for="APellidoM" />
                        <p:inputText id="APellidoM" value="#{empleadoController.selected.APellidoM}" title="#{bundle.CreateEmpleadoTitle_APellidoM}" />
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{empleadoController.selected.direccion}" title="#{bundle.CreateEmpleadoTitle_direccion}" />
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_fechaHoraReg}" for="fechaHoraReg" />
                        <p:calendar id="fechaHoraReg" pattern="MM/dd/yyyy HH:mm:ss" value="#{empleadoController.selected.fechaHoraReg}" title="#{bundle.EditEmpleadoTitle_fechaHoraReg}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_fechaHoraReg}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_sexo}" for="sexo" />
                        <p:selectBooleanCheckbox id="sexo" value="#{empleadoController.selected.sexo}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_sexo}"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{empleadoController.selected.telefono}" title="#{bundle.CreateEmpleadoTitle_telefono}" />
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_email}" for="email" />
                        <p:inputText id="email" value="#{empleadoController.selected.email}" title="#{bundle.CreateEmpleadoTitle_email}" />
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_sueldo}" for="sueldo" />
                        <p:inputText id="sueldo" value="#{empleadoController.selected.sueldo}" title="#{bundle.CreateEmpleadoTitle_sueldo}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_sueldo}"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_fechaNac}" for="fechaNac" />
                        <p:calendar id="fechaNac" pattern="MM/dd/yyyy" value="#{empleadoController.selected.fechaNac}" title="#{bundle.EditEmpleadoTitle_fechaNac}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_fechaNac}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateEmpleadoLabel_idCL}" for="idCL" />
                        <p:selectOneMenu id="idCL" value="#{empleadoController.selected.idCL}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_idCL}">
                            <f:selectItems value="#{cargoLaboralController.itemsAvailableSelectOne}"
                                           var="idCLItem"
                                           itemValue="#{idCLItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empleadoController.create}" value="#{bundle.Save}" update="display,:EmpleadoListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmpleadoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmpleadoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
