<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpleadoViewDlg" widgetVar="EmpleadoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEmpleadoTitle}">
            <h:form id="EmpleadoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empleadoController.selected != null}">
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_ci}"/>
                        <h:outputText value="#{empleadoController.selected.ci}" title="#{bundle.ViewEmpleadoTitle_ci}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_nombre}"/>
                        <h:outputText value="#{empleadoController.selected.nombre}" title="#{bundle.ViewEmpleadoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_APellidoP}"/>
                        <h:outputText value="#{empleadoController.selected.APellidoP}" title="#{bundle.ViewEmpleadoTitle_APellidoP}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_APellidoM}"/>
                        <h:outputText value="#{empleadoController.selected.APellidoM}" title="#{bundle.ViewEmpleadoTitle_APellidoM}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_direccion}"/>
                        <h:outputText value="#{empleadoController.selected.direccion}" title="#{bundle.ViewEmpleadoTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_fechaHoraReg}"/>
                        <h:outputText value="#{empleadoController.selected.fechaHoraReg}" title="#{bundle.ViewEmpleadoTitle_fechaHoraReg}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_sexo}"/>
                        <p:selectBooleanCheckbox value="#{empleadoController.selected.sexo}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_telefono}"/>
                        <h:outputText value="#{empleadoController.selected.telefono}" title="#{bundle.ViewEmpleadoTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_email}"/>
                        <h:outputText value="#{empleadoController.selected.email}" title="#{bundle.ViewEmpleadoTitle_email}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_sueldo}"/>
                        <h:outputText value="#{empleadoController.selected.sueldo}" title="#{bundle.ViewEmpleadoTitle_sueldo}"/>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_fechaNac}"/>
                        <h:outputText value="#{empleadoController.selected.fechaNac}" title="#{bundle.ViewEmpleadoTitle_fechaNac}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewEmpleadoLabel_idCL}"/>
                        <h:outputText value="#{empleadoController.selected.idCL}" title="#{bundle.ViewEmpleadoTitle_idCL}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EmpleadoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
