<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CargoLaboralEditDlg" widgetVar="CargoLaboralEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCargoLaboralTitle}">
            <h:form id="CargoLaboralEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cargoLaboralController.selected != null}">                       
                        <p:outputLabel value="#{bundle.EditCargoLaboralLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{cargoLaboralController.selected.nombre}" title="#{bundle.EditCargoLaboralTitle_nombre}" required="true" requiredMessage="#{bundle.EditCargoLaboralRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cargoLaboralController.update}" value="#{bundle.Save}" update="display,:CargoLaboralListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CargoLaboralEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CargoLaboralEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
