<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContenidoCreateDlg" widgetVar="ContenidoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateContenidoTitle}">
            <h:form id="ContenidoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contenidoController.selected != null}">                       
                        <p:outputLabel value="#{bundle.CreateContenidoLabel_clave}" for="clave" />
                        <p:inputText id="clave" value="#{contenidoController.selected.clave}" title="#{bundle.CreateContenidoTitle_clave}" required="true" requiredMessage="#{bundle.CreateContenidoRequiredMessage_clave}"/>
                        <p:outputLabel value="#{bundle.CreateContenidoLabel_valor}" for="valor" />
                        <p:inputText id="valor" value="#{contenidoController.selected.valor}" title="#{bundle.CreateContenidoTitle_valor}" required="true" requiredMessage="#{bundle.CreateContenidoRequiredMessage_valor}"/>
                        <p:outputLabel value="#{bundle.CreateContenidoLabel_idP}" for="idP" />
                        <p:selectOneMenu id="idP" value="#{contenidoController.selected.idP}" required="true" requiredMessage="#{bundle.EditContenidoRequiredMessage_idP}">
                            <f:selectItems value="#{paqueteController.itemsAvailableSelectOne}"
                                           var="idPItem"
                                           itemValue="#{idPItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contenidoController.create}" value="#{bundle.Save}" update="display,:ContenidoListForm:datalist,:growl" oncomplete="handleSubmit(args,'ContenidoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContenidoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
