<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaqueteViewDlg" widgetVar="PaqueteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPaqueteTitle}">
            <h:form id="PaqueteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paqueteController.selected != null}">
                        <h:outputText value="#{bundle.ViewPaqueteLabel_id}"/>
                        <h:outputText value="#{paqueteController.selected.id}" title="#{bundle.ViewPaqueteTitle_id}"/>
                        <h:outputText value="#{bundle.ViewPaqueteLabel_nombre}"/>
                        <h:outputText value="#{paqueteController.selected.nombre}" title="#{bundle.ViewPaqueteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewPaqueteLabel_precio}"/>
                        <h:outputText value="#{paqueteController.selected.precio}" title="#{bundle.ViewPaqueteTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewPaqueteLabel_descuento}"/>
                        <h:outputText value="#{paqueteController.selected.descuento}" title="#{bundle.ViewPaqueteTitle_descuento}"/>
                        <h:outputText value="#{bundle.ViewPaqueteLabel_precioTotal}"/>
                        <h:outputText value="#{paqueteController.selected.precioTotal}" title="#{bundle.ViewPaqueteTitle_precioTotal}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PaqueteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
