<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListContratoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ContratoListForm">
                <p:panel header="#{bundle.ListContratoTitle}">
                    <p:dataTable id="datalist" value="#{contratoController.items}" var="item"
                                 selectionMode="single" selection="#{contratoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_costoTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.costoTotal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_ACuenta}"/>
                            </f:facet>
                            <h:outputText value="#{item.ACuenta}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_saldo}"/>
                            </f:facet>
                            <h:outputText value="#{item.saldo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_fechaCont}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaCont}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_obs}"/>
                            </f:facet>
                            <h:outputText value="#{item.obs}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_fechaEve}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaEve}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_horaE}"/>
                            </f:facet>
                            <h:outputText value="#{item.horaE}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_anfitrion}"/>
                            </f:facet>
                            <h:outputText value="#{item.anfitrion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_detalle}"/>
                            </f:facet>
                            <h:outputText value="#{item.detalle}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_idPaq}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPaq}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_cie}"/>
                            </f:facet>
                            <h:outputText value="#{item.cie}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_idRes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratoTitle_idTE}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTE}"/>
                        </p:column>
                        <f:facet name="header">
                            <p:commandButton id="toggler" type="button" value="Columnas" style="float:left" icon="ui-icon-calculator" />
                            <p:columnToggler datasource="datalist" trigger="toggler" />
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{contratoController.prepareCreate}" update=":ContratoCreateForm" oncomplete="PF('ContratoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ContratoViewForm" oncomplete="PF('ContratoViewDialog').show()" disabled="#{empty contratoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ContratoEditForm" oncomplete="PF('ContratoEditDialog').show()" disabled="#{empty contratoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{contratoController.destroy}" update=":growl,datalist" disabled="#{empty contratoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
