<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/Vistas/cargoLaboral/List" value="Show All CargoLaboral Items"/>
        <br />
        <h:link outcome="/Vistas/cobros/List" value="Show All Cobros Items"/>
        <br />
        <h:link outcome="/Vistas/contenido/List" value="Show All Contenido Items"/>
        <br />
        <h:link outcome="/Vistas/contrato/List" value="Show All Contrato Items"/>
        <br />
        <h:link outcome="/Vistas/empleado/List" value="Show All Empleado Items"/>
        <br />
        <h:link outcome="/Vistas/paquete/List" value="Show All Paquete Items"/>
        <br />
        <h:link outcome="/Vistas/reserva/List" value="Show All Reserva Items"/>
        <br />
        <h:link outcome="/Vistas/tipoEvento/List" value="Show All TipoEvento Items"/>
    </h:body>








</html>

